<c-vars class label description name errors />

<div class="{{ class }} space-y-2">
    {% if label %}
        <label class="block font-medium text-white text-sm" for="{{ name }}">{{ label }}</label>
    {% endif %}

    {% if description %}
        <p class="text-gray-300 text-xs">{{ description }}</p>
    {% endif %}

    <input
        class="bg-transparent p-2 border border-[#323232] focus:border-blue-600 rounded-sm outline-none w-full text-gray-300 text-sm duration-300"
        name="{{ name }}"
        id="{{ name }}"
        {{ attrs }}
    />

    {% if errors %}
        <template x-for="error in {{ errors }}">
            <p class="text-red-500 text-xs" x-text="error"></p>
        </template>
    {% endif %}
</div>
